* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.menu-text {
    height: 100vh;
    width: 100vw;
}

.text {
    display: inline-block;
    width: 60%;
    margin-top: 25%;
    padding-left: 136px;
}

.menu-img {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 130vh;
    width: 40%;
    position: absolute;
}


img {
    position: relative;
    top: 25%;
    right: 90px;
}


h1 {
    color: #5D5D7D;
    font-size: 70px;
    font-style: normal;
    line-height: 80px;
    width: 368px;
}

p {
    color: rgba(93, 93, 125, 0.6);
    font-size: 28px;
    font-style: normal;
    line-height: 48px;
    margin: 15px 0;
    width: 540px;
}

button {
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: #9499EA;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 269px;
    height: 62px;
    filter: drop-shadow(0px 10px 24px rgba(148, 153, 234, 0.10));
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .5;
}

a {
    color: #5D5D7D;
    font-size: 28px;
    font-style: normal;
    line-height: normal;
    margin-right: 50px;
    cursor: pointer;
}

a:nth-child(2){
 opacity: .4;   
}

header{
    margin: 24px 0 0 58px;
}

@media screen and (max-width: 1000px){
    .text{
        width: 100%;
        height: 50%;
        padding: 0px;
        margin: 0;
    }
    .menu-img{
        display: block;
        height: auto;
        width: auto;
        position: static;
        padding: 40px;
    }
    img{
        position: static;
       max-width: 90%

        
    }
    header{
        display: none;
    }

    h1{
        font-size: 44px;
        line-height: 52px;  
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }
    p{
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 18px;
        line-height: 38px;
    }

    button{
        display: block;
        margin: 0 auto;
    }
}